.hover-opacity-0:hover,
.opacity-0,
.opacity-container:hover .hover-opacity-0 {
    opacity: 0;
}

.hover-opacity-1:hover,
.opacity-1,
.opacity-container:hover .hover-opacity-1 {
    opacity: .1;
}

.hover-opacity-2:hover,
.opacity-2,
.opacity-container:hover .hover-opacity-2 {
    opacity: .2;
}

.hover-opacity-3:hover,
.opacity-3,
.opacity-container:hover .hover-opacity-3 {
    opacity: .3;
}

.hover-opacity-4:hover,
.opacity-4,
.opacity-container:hover .hover-opacity-4 {
    opacity: .4;
}

.hover-opacity-5:hover,
.opacity-5,
.opacity-container:hover .hover-opacity-5 {
    opacity: .5;
}

.hover-opacity-6:hover,
.opacity-6,
.opacity-container:hover .hover-opacity-6 {
    opacity: .6;
}

.hover-opacity-7:hover,
.opacity-7,
.opacity-container:hover .hover-opacity-7 {
    opacity: .7;
}

.hover-opacity-8:hover,
.opacity-8,
.opacity-container:hover .hover-opacity-8 {
    opacity: .8;
}

.hover-opacity-9:hover,
.opacity-9,
.opacity-container:hover .hover-opacity-9 {
    opacity: .9;
}

.hover-opacity-10:hover,
.opacity-10,
.opacity-container:hover .hover-opacity-10 {
    opacity: 1;
}
