.p-7 {
    padding: 6rem!important;
}

.pt-7,
.py-7 {
    padding-top: 6rem!important;
}

.pr-7,
.px-7 {
    padding-right: 6rem!important;
}

.pb-7,
.py-7 {
    padding-bottom: 6rem!important;
}

.pl-7,
.px-7 {
    padding-left: 6rem!important;
}

.p-8 {
    padding: 7.5rem!important;
}

.pt-8,
.py-8 {
    padding-top: 7.5rem!important;
}

.pr-8,
.px-8 {
    padding-right: 7.5rem!important;
}

.pb-8,
.py-8 {
    padding-bottom: 7.5rem!important;
}

.pl-8,
.px-8 {
    padding-left: 7.5rem!important;
}

.p-9 {
    padding: 9rem!important;
}

.pt-9,
.py-9 {
    padding-top: 9rem!important;
}

.pr-9,
.px-9 {
    padding-right: 9rem!important;
}

.pb-9,
.py-9 {
    padding-bottom: 9rem!important;
}

.pl-9,
.px-9 {
    padding-left: 9rem!important;
}

.p-10 {
    padding: 10.5rem!important;
}

.pt-10,
.py-10 {
    padding-top: 10.5rem!important;
}

.pr-10,
.px-10 {
    padding-right: 10.5rem!important;
}

.pb-10,
.py-10 {
    padding-bottom: 10.5rem!important;
}

.pl-10,
.px-10 {
    padding-left: 10.5rem!important;
}

.p-17 {
    padding: 21rem!important;
}

.pt-17,
.py-17 {
    padding-top: 21rem!important;
}

.pr-17,
.px-17 {
    padding-right: 21rem!important;
}

.pb-17,
.py-17 {
    padding-bottom: 21rem!important;
}

.pl-17,
.px-17 {
    padding-left: 21rem!important;
}
